.header
  .header__logo
    %h3.header__box
      = current_user.name
      %ul.header__icons
        %li.icon
      = link_to new_group_path do
        = icon('far', 'edit', class: 'icon')
        %span<>
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'icon')
        %span<>

  .header__main
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .header__name
            = group.name
          .header__comennts
            = group.show_last_message
